<table class="table table-bordered table-striped m-1 p-2">
    <thead>
      <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Created Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr class="navLink">
        <td>1</td>
        <td>James</td>
        <td>2019/9/1</td>
        <td>Test1</td>
      </tr>
      <tr class="navLink">
          <td>2</td>
          <td>James</td>
          <td>2019/9/2</td>
          <td>Test2</td>
        </tr>
    </tbody>
  </table>

