<h1 class="m-1 text-center">New Article</h1>
<form class="m-2" [formGroup]="form" (ngSubmit)="addArticle()">
  <div class="form-group">
    <label for="author">Author: </label>
    <input type="text" class="form-control" formControlName="author" />
    <span class="text-danger" *ngIf="form.get('author')['errors']?.required">Author is required</span>
    <span class="text-danger" *ngIf="form.get('author')['errors']?.canNotBeJames">{{form.get('author')['errors'].canNotBeJames}}</span>
    <span class="text-danger" *ngIf="form.get('author')['errors']?.canNotBe">{{form.get('author')['errors'].canNotBe}}</span>
  </div>
  <div class="form-group">
    <label for="title">Title: </label>
    <input type="text" class="form-control" formControlName="title" />
    <span class="text-danger" *ngIf="form.get('title')['errors']?.required">Title is required</span>
    <span class="text-danger" *ngIf="form.get('title')['errors']?.minLength">
      Title at least {{form.get('title')['errors']?.minLength.requiredLength}} words
    </span>
  </div>
  <div formArrayName="paragraphs">
    <div *ngFor="let p of form.get('paragraphs')['controls']; let i = index">
      <label>Paragraph{{i + 1}}: </label>&nbsp;
      <textarea class="form-control mb-1" [formControlName]="i"></textarea>
      <span class="text-danger" *ngIf="p['errors']?.required">Paragraph can not be empty</span>
    </div>
  </div>
  <div class="mb-5 mt-2">
    <button class="btn btn-secondary p-2 ml-2" type="button" (click)="addParagraph()">Add Article</button>
    <button class="btn btn-success p-2 ml-2" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
