<h1 class="m-1 text-center">New Article</h1>
<form class="m-2" [formGroup]="form">
  <div class="form-group">
    <label for="author">Author: </label>
    <input type="text" class="form-control" formControlName="author" />
  </div>
  <div class="form-group">
    <label for="title">Title: </label>
    <input type="text" class="form-control" formControlName="title" />
  </div>
  <div formArrayName="paragraphs">
    <div *ngFor="let p of form.get('paragraphs')['controls']; let i = index">
      <label>Paragraph{{i + 1}}: </label>&nbsp;
      <textarea class="form-control mb-1" [formControlName]="i"></textarea>
    </div>
  </div>
  <div class="mb-5 mt-2">
    <button class="btn btn-secondary p-2 ml-2" type="button">Add Article</button>
    <button class="btn btn-success p-2 ml-2" type="submit">Submit</button>
  </div>
</form>
