<div class="bg-light vw100 vh100 pb-5">
    <div class="bg-light mb-3">
      <div class="article-info">
          <div class="text-center title">Test1</div>
          <div class="p-2">
              <div class="text-right">James</div>
              <div class="text-right">2019/9/1</div>
          </div>
      </div>
      <p class="text-center m-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam amet est quo?
        Enim cumque similique quia eum quos, consequuntur eaque rerum, inventore temporibus assumenda nemo.
        Consequuntur, mollitia, quaerat totam eius quibusdam laudantium pariatur eum iste qui ipsum nihil!
        Iste aliquam ipsa ut, itaque, maiores vel accusamus suscipit saepe, iure aperiam quas?
      </p>
      <p class="text-center m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolores ducimus hic accusantium?
          Minus debitis iusto id temporibus cumque recusandae, quisquam ullam. Provident repellendus iure voluptates?
          Placeat cupiditate minima, fuga eius ea natus possimus sint itaque dicta odio quae?
          Repellendus eaque pariatur quaerat possimus omnis doloribus soluta enim, provident hic repellat obcaecati.
          Porro blanditiis obcaecati autem explicabo dignissimos? Omnis earum, eum amet assumenda unde enim.
          Ipsam inventore consectetur atque suscipit aut magnam, rerum quae, ullam quam totam nostrum.
        </p>
    </div>
    <!-- <div class="bg-light text-center">
      <h1 class="m-5">No Article</h1>
    </div> -->

    <div class="text-center mt-2">
      <button class="btn btn-secondary">Back to List</button>
      <button class="btn btn-success ml-2">Next Article</button>
    </div>
  </div>
