<div>
  <div class="col-12 text-center h-40 bg-light">
    <h1>Login</h1>
    <form #form="ngForm" #formDOM (ngSubmit)="login(form)">
      <div>
        <div class="form-group">
          <label for="username">UserName:</label>
          <input class="form-control" name="username" type="text" [(ngModel)]="loginModel.username" required email
            #username="ngModel" #usernameDOM />
        </div>
        <span class="text-danger" *ngIf="username.dirty">
            <span *ngIf="username['errors']?.required">UserName is required</span>
            <span *ngIf="username['errors']?.email">Invalid email format</span>
        </span>
        <div class="form-group">
          <label for="password" class="col-xs-3">Password:</label>
          <input class="form-control" name="password" type="password" [(ngModel)]="loginModel.password" required minlength="3"
            maxlength="10" pattern="^\w*$" #password="ngModel" #passwordDOM />
        </div>
        <span class="text-danger" *ngIf="password.dirty">
            <span *ngIf="password['errors']?.required">password is required</span>
            <span *ngIf="password['errors']?.minlength">password must greater than {{password['errors'].minlength.requiredLength}} words</span>
            <span *ngIf="password['errors']?.pattern">Invalid password format</span>
            <br />
        </span>

        <span class="mt-5">&nbsp;</span>
        <button type="submit" class="bg-success" [disabled]="form.invalid">Submit</button>&nbsp;
        <button type="reset" class="bg-warning">Reset</button>
      </div>
    </form>
  </div>
</div>
